@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.my_class {
	color: teal; 
	text-align: center;
}

#container {
	border: 2px solid coral;
}

.fish_list_class {
	border: 2px dotted purple;
}

img {
	width: 100px;
}

.center_class {
	text-align: center;
}

.flex_container {
	display: flex;

}

.flex_column {
	flex-direction: column;
}

.tips_and_tricks {
	border: 2px solid purple;
	flex: 1;
}

.left_side {
	flex: 2;
}
